.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

.about h2 {
  margin: 1em 0;
  text-align: center;
  flex: none;
}

.about div h3 {
  color: #ededed;
  margin-bottom: 1em;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.line {
  display: flex;
  gap: 0.5rem;
}

.about .skills {
  margin-bottom: 3em;
}

.about .socials {
  margin-bottom: 3em;
}

.socialsContent {
  display: flex;
  flex-direction: column;
}

.summary p a {
  text-decoration: underline;
  text-decoration-color: #ff4500;
}

.about button {
  background: #ff4500;
  color: #ededed;
  border: none;
  border-radius: 5px;
  padding: 1em 2em;
  margin-bottom: 2em;
}

.about button:hover {
  background: #ff6347;
  color: #fff;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .about {
    padding: 0 1em;
    flex-direction: column;
  }
}
